@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #383131;

  input::placeholder, input{
    font: 600 14px 'Poppins';
  }
}

.Exercicio {
  display: flex;
  align-items: center;
  flex-direction: column;

  h3 {
    font: 700 18px "Roboto";
  }

  & > h3 {
    margin: 10px 0px 0px 250px;
  }

  .exercicio {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    padding: 25px;

    background-color: white;

    box-shadow: -2px -2px 15px 2px rgb(179, 179, 179);
    border-radius: 12px;
    width: 476px;
    height: 295px;

    input {
      outline: none;
      border-style: none;
      border: 1px solid #a5a5a5;
      border-radius: 15px;
      padding: 10px;
    }

    button {
      font: 700 16px "Roboto";
      color: #ffffff;
      align-self: end;
      width: 216px;
      border-style: none;
      padding: 15px;
      border: 1px solid #6278f7;
      background-color: #6278f7;
      border-radius: 15px;
    }

    button:hover {
      cursor: pointer;
    }
  }
}

body {
  background-color: #f3f3f3;
}






